@model IEnumerable<IMS.Question>
@{
    Layout = "_Layout1";
}
@{
    ViewData["Title"] = "answer";
}
 <style>
          .bge{
    background: url("https://wallpaperboat.com/wp-content/uploads/2020/12/02/62556/light-color-12.jpg");
background-size: cover;
  }
      </style>
      @if(Model != null)
{


      <br ><br ><br >
       <div class="bge" style="width: 100%; height: 650px;">
           <br >
           <br >
<h1>Reply To Customer</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                  <form method="post">
                  
                   <input  type="text"  name=comment style="height:100px" class="form-control" />
                   <input type="submit" class="btn btn-info" value="reply" asp-route-Sno=@item.Sno />
                   </form>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
}
else
{
    @ViewData["a"]
}
